<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link th:href="@{/styles/tableStyle.css}" rel="stylesheet"/>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/author.js" th:src="@{/author.js}"></script>
</head>
<body>
<div>
    <span><a href="book.html" th:href="@{/book}">Книги</a></span>
    <span><a href="kindBook.html" th:href="@{/kindBook}">Жанры</a></span>
    <span><a hter="author.html" th:href="@{/}">На главную</a></span>
</div>
<table class="library">
    <thead>
    <tr>
        <td>Фамилия</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Редактировать автора</td>
        <td>Завести автора</td>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>
    $(document).ready(authorList());
</script>
</body>
</html>