body {
  padding: 50px;
}

.library {
    border: 1px solid steelblue;
    width: auto;
    border-collapse: collapse;
}

.library tr td, th {
    padding: 5px;
    border: 1px solid steelblue;
}

.library td:last-child, td:first-child {
    width: 50px;
}