<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="examinationDao" class="ru.otus.dao.ExaminationDaoSimple">
            <constructor-arg name="path" value="/questions.csv"/>
    </bean>
    <bean id="examinationService" class="ru.otus.service.ExaminationServiceImpl">
            <constructor-arg name="dao" ref="examinationDao"/>
    </bean>
    <bean id="printService" class="ru.otus.service.PrintServiceImpl"/>

</beans>