<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div>
    <table class="main">
        <tbody>
        <tr>
        <td><a href="author.html" th:href="authors">Авторы</a></td>
        <td><a href="kindBook.html" th:href="kindBook">Жанры</a></td>
        <td><a href="book.html" th:href="book">Книги</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>