<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link th:href="@{Bootstrap/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{Bootstrap/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
</head>
<body>
<div>
    <table class="main">
        <tbody>
        <tr>
        <td><a href="author.html" th:href="author">Авторы</a></td>
        <td><a href="kindBook.html" th:href="kindBook">Жанры</a></td>
        <td><a href="book.html" th:href="book">Книги</a></td>
        <td><a href="/logout">Выход</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>