<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/styles/editStyle.css}" rel="stylesheet"/>
</head>
<body>
<form id="edit-form" action="bookAdd.html" th:method="post" th:action="@{/bookAdd}" th:object="${book}">
    <h3>Добавление книги:</h3>

    <div class="row">
        <label for="bookEdit-input">Название:</label>
        <input id="bookEdit-input" name="name" type="text" value="John Doe" th:value="*{name}"/>
    </div>
    <div class="row" th:field="*{author}">
        <label for="form-input">Автор:</label>
        <select name="author" class="form-control" id="form-input">
            <option th:each="author : ${authorList}"
                    th:value="${author.id}"
                    th:text="${author.firstName}">Автор</option>
        </select>
    </div>
    <div class="row" th:field="*{kind}">
        <label for="kindbook-input">Жанр:</label>
        <select name="kind" class="form-control" id="kindbook-input">
            <option th:each="kind : ${kindList}"
                    th:value="${kind.id}"
                    th:text="${kind.name}">Автор</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
        <a href="book.html" th:href="@{/book}"><button type="button">Отмена</button></a>
    </div>
</form>
</body>
</html>