<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link th:href="@{/styles/editStyle.css}" rel="stylesheet"/>
</head>
<body>
<form id="edit-form" action="bookEdit.html" th:method="post" th:action="@{/bookEdit(id=${book.id})}" th:object="${bookEdit}">
    <h3>Person Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="${book.id}"/>
    </div>

    <div class="row">
        <label for="bookEdit-input">Название:</label>
        <input id="bookEdit-input" name="name" type="text" value="John Doe" th:value="${book.name}"/>
    </div>

    <div class="row">
        <select name="id" th:object="${author}" class="form-control" id="form-input">
            <option th:each="author : ${authors}"
                    th:value="${author.guid}"
                    th:object="${author}"
                    th:text="${author.name}">
        </select>
    </div>
    <!--
    <div class="row">
        <form th:object="${authorDto}">
            <label for="form-input">Выберите автора:</label>
            <select class="form-control" id="form-input" multiple="multiple">
                <option th:each="author : ${authorDto.authorList}"
                        th:value="${{author.id}}"
                        th:text="${author.name}">
                </option>
            </select>
            <input type="submit" value="Save" />
        </form>
    </div>
    -->

    <div class="row">
        <button type="submit">Сохранить</button>
        <a href="book.html" th:href="@{/book}"><button type="button">Отмена</button></a>
    </div>
</form>
</body>
</html>