<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование автора</title>
    <link th:href="@{/styles/editStyle.css}" rel="stylesheet"/>
</head>
<body>
<form id="edit-form" action="authorEdit.html" th:method="post" th:action="@{/authorEdit(id=${author.id})}" th:object="${author}">
    <h3>Редактирование автора:</h3>

    <div class="row" th:if="${isEdit} == true">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="author-firstname-input">Имя:</label>
        <input id="author-firstname-input" name="firstName" type="text" value="John Doe" th:value="*{firstName}"/>
    </div>
    <div class="row">
        <label for="author-lastname-input">Фамилия:</label>
        <input id="author-lastname-input" name="lastName" type="text" value="John Doe" th:value="*{lastName}"/>
    </div>
    <div class="row">
        <label for="author-patronymic-input">Отчество:</label>
        <input id="author-patronymic-input" name="patronymic" type="text" value="John Doe" th:value="*{patronymic}"/>
    </div>

    <div class="row">
        <button type="submit">Сохранить</button>
        <a href="author.html" th:href="@{/author}"><button type="button">Отмена</button></a>
    </div>
</form>
</body>
</html>